body	{font-family:verdana,arial,sans-serif;font-size:100.01%;margin:0;padding:0;}
h2 {margin:1.5em 0 1em 0;font-size:1.5em;text-decoration:underline;color:#66ccff;font-variant:small-caps;}
h3 {margin:.3em;font-size:1.25em;text-decoration:underline;color:#66ccff;font-variant:small-caps;font-weight:normal;}